.grid-container {
    display: grid;
    grid-template-areas:
        "header header header header header"
        "aside aside main main main"
        "aside aside main main main"
        "aside aside main main main"
        "aside aside main main main"
        "footer footer footer footer footer"
    ;
    grid-auto-rows: minmax(50px, auto);
    background: red;
    height: 100vh;
    padding: 15px;
    color: white;
    header {
        grid-area: header;
        background-color: yellow;
        color: black;
    }
    aside {
        grid-area: aside;
        background: green;
        min-width: 200px;
    }
    main {
        grid-area: main;
        background: gray;
        overflow-y: scroll;
        // Grilla con grid
        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
        // gap: 15px;
        .cards-container {
            display: flex;
            justify-content: space-around;
            gap: 15px;
            flex-wrap: wrap;
            .card_container {
                display: flex;
                flex-direction: column;
                background-color: blue;
                .card_header {
                    min-height: 30px;
                }
                .card_body {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-height: 120px;
                    overflow: hidden;
                    transition: all 1s ease-in-out;
                    width: 300px;
                    img {
                        transition: all 1s ease-in-out;
                        width: 250px;
                        opacity: 1;
                    }
                    &:hover {
                        img {
                            transform: translateY(60%);
                            opacity: 0.1;
                        }
                        background-color: chocolate;
                    }
                }
                .card_footer {
                    min-height: 30px;
                }
            }
        }
    }
    footer {
        grid-area: footer;
        background-color: yellowgreen;
    }
}